*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Roboto;
}
body *,footer *,header *{
    overflow-x: hidden;
}

/*Header-ul*/
#header-title{
    height: 80px;
}
header nav{
    background-color: rgb(5, 43, 43);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* header nav ul li a{
    display: block;
} */
#submit-button{
    margin: none;
}
header input{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    height: 25px;
    background-color: transparent;
    border:0;
    border-bottom: 1px solid white;
    color: white;
    outline: none;
    font-family: Roboto;
    opacity: 0.5;
}
header input::placeholder{
    color: white;
}
header nav>ul{ 
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.news-list{
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    position: absolute;
    display: flex;
    float: left;
    top: 84px;
    width: 100%;
    height: 300px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: visibility, opacity;
}
.news-list li a{
    padding-top: 20px;
    font-size:18px;
}
.news-list h1{
    margin-bottom: 10px;
}
.news-list li{
    margin: 0px 10px 0px 10px;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    background-color: rgb(236, 235, 235);
    max-width: 600px;
    overflow: hidden;
}

.news-list li *{
    color:black;
}
.news-list li a p{
    text-decoration: none;
    font-size: 22px;
}
header{
    color: white;
}
header nav>ul>li{
    border: 2px solid transparent;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: background-color,color, border;
}
header nav>ul>li>a{
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Roboto';
}
header nav>ul>li:hover, header nav>ul>li:focus{
    background-color: #031616;
    border: 2px solid #031616;
    border-right: 10px solid #031616;
    border-left: 10px solid #031616;
    border-radius: 5px;
}
header nav>ul>li:hover .news-list{
    visibility: visible;
    opacity: 1;
}
#menu-button{
    display: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #23d521;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-property: background-color,color;
    -webkit-tap-highlight-color: transparent;
}
#search-button{
    display: none;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #23d521;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-property: background-color, color;
    -webkit-tap-highlight-color: transparent;
}
#login-button, #register-button{
    size: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    color: #23d521;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-property: background-color, color;
    -webkit-tap-highlight-color: transparent;
}
#logout-button{
    color: #23d521;
}
#menu-button:focus, #menu-button:hover, #search-button:focus, #search-button:hover{
    background-color:#23d521;
    color: rgb(5, 43, 43);
}
/**/

/*------Main-------*/
main>img{
    width: 100%;
    position: static;
}
/*Tabelul cu monede*/
.tabel{
    border-collapse: collapse;
    width: 100%;
    margin-left: 50px;
}
#filtre-button{
    margin-top:30px ;
    margin-bottom: 10px;
    outline:none;
    cursor: pointer;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    border: 10px solid cadetblue;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    transition-timing-function: ease-in;
    transition-property: background-color, border, border-radius;
    transition-duration: 0.2s;
}
#filtre-button:hover,
#filtre-button:focus{
    background-color: rgb(70, 116, 117);
    border: 10px solid rgb(70, 116, 117);
    border-radius: 10px;
}
/*Efectul de sortare*/
#crypto-table th {
    cursor: pointer;
  }
  
  #crypto-table .th-sort-asc::after {
    content: "\25b4";
  }
  
  #crypto-table .th-sort-desc::after {
    content: "\25be";
  }
  
  #crypto-table .th-sort-asc::after,
  #crypto-table .th-sort-desc::after {
    margin-left: 5px;
  }
  
  #crypto-table .th-sort-asc,
  #crypto-table .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
  }
  

#crypto-table tr th,td{
    padding: 20px 10px;
    text-align: center;
}
#crypto-table tr>td:first-child,
#crypto-table tr>th:first-child{
    text-align: left;
    font-weight: bold;
} 
#crypto-table{
    border-radius: 5px 5px 0 0;
    width: 90%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 20px;
}
#crypto-table tbody tr:nth-child(even){
    background-color: #f3f3f3;
}
#crypto-table thead tr{
    background-color: cadetblue;
    color: white;
}
/**/

/*Numerotarea din tabel*/
#crypto-table tr th:first-child::before{
    content: "#";
    font-weight: bold;
    padding-right: 30px;
}
#crypto-table tr:nth-of-type(1){
    counter-reset: id-moneda;
}
#crypto-table tr td:first-child::before{
    content: counter(id-moneda);
    counter-increment: id-moneda;
    padding-right: 30px;
}
#crypto-table tr{
    border-bottom: 1px solid cadetblue;
}
/**/

/*Add to watchlist*/
#crypto-table tr::after{
    content: '+';
    font-size: 30px;
    font-weight: bold;
    color: #23d521;
}
#crypto-table thead tr::after{
    content: none;
}

#back-to-top{
    float: right;
    right: 0px;
    margin: 30px;
    padding: 10px 10px 0px 10px;
    border-radius: 40px;
    font-size:50px;
    color: rgb(5, 43, 43);
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
    transition-property: background-color,border-radius,border;
}
#back-to-top:hover{
    border-radius: 40px;
    background-color: lightgrey;
}

/**/

/*footer*/
footer{
    flex-shrink: 0;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    padding-top: 20px;
    margin-top: 50px;
    background-color: rgb(5, 43, 43);
    display: grid;
    grid-column-gap: 10px;
}
#footer-title{
    height: 80px;
}
footer ul{
    list-style: none;
}
footer ul li,footer ul li a{
    margin-bottom: 20px;
    color:white;
}
footer ul:nth-child(1){
    grid-area: 1/1/3/2;
    row-gap: 20px;
}
footer ul:nth-child(2){
    grid-area: 1/2/4/3;  
}
footer ul:nth-child(3){
    grid-area: 1/3/4/4;
}
#appstore-button, #playstore-button{
    cursor: pointer;
    outline: none;
    border: 3px solid transparent;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}
#appstore-button>img, #playstore-button>img{
    height: 70px;
}
/**/

/*Phone view*/
@media screen and (max-width:920px) and (min-width: 300px){
    .news-list{
        display: none; 
    }
    header nav ul { /*Lista cu optiuni(Stiri, Topul zilei, Diagrame*/
        position: relative; 
        display: none;
        float: left;
    }
    header input{
        display:none;
    }
    .tabel{
        margin-left: 10px;
        width: 100%;
    }
    #crypto-table{
        font-size: 16px;

    }
    #crypto-table tr th,td{
        padding: 5px 2.5px 5px 2.5px;
        text-align: center;
    }
    #crypto-table tr td:first-child::before{
        padding-right: 10px;
    }
    #crypto-table tr::after{
        font-size:20px;
    }
    #menu-button{
        display: block;
        float: left;
    }
    #menu-button ul{
        position: absolute;
        display: flex;
        width: 130px;
        top: 84px;
        left: 0;
        list-style: none;
        flex-direction: column;
        opacity: 0;
        border-radius: 0px 0px 10px 0px;
        visibility: hidden;
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
        transition-property: visibility, opacity;
    }
    #menu-button ul li a{
        display: block;
        color: black;
        font-size: 20px;
        transition-timing-function: ease-in;
        transition-duration: 0.3s;
        border: 10px solid rgb(236, 233, 233);
        transition-property: background-color, border;
        
    }
    #menu-button ul li a:hover,
    #menu-button ul li a:focus{
        background-color: lightgrey;
        border: 10px solid lightgrey;
    }
    #menu-button ul li{
        text-align: left;
        padding:10px;
        background-color: rgb(236, 233, 233);
    }
    #menu-button:hover ul,
    #menu-button:focus ul{
        visibility: visible;
        opacity: 1;
    }
    #search-button{
        display: inline;
    }
    #back-to-top{
        display: none;
    }
    footer{
        padding-left: 5px;
        padding-right: 5px;
    }
    #footer-title{
        height: 30px;
    }
    #appstore-button>img, #playstore-button>img{
        height: 35px;
    }
}