<!DOCTYPE html>
<html lang = "ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
        <link type= "text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link type ="text/css" rel="stylesheet" href="/css/fontawesome.min.css">
        <link type = "text/css" rel="stylesheet" href="/css/all.min.css">
        <title>Criptofy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" id="favicon">
    </head>
    <body>
        <a name="top"></a>
        <%-  include('../fragments/header')  %>   
        <main>
            <img src="images/background.png" alt="">
            <div id = 'title'>
                <h1>
                    Error !
                </h1>
                <p>
                    The page you are looking for was not found
                </p>
                <% if(locals.text) {%>
                <p>Maybe try: <%= locals.text %> ?</p>
                <% }%>
            </div>
        </main>
        <% include('../fragments/footer')   %>
        <script src = "/scripts/error.js"></script>
    </body>
</html>