<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/news.css">
        <link type= "text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <title>Criptofy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" id="favicon">
    </head>
    <body>
        <%-  include('../fragments/header')  %>   
        <main>
            <h1 id="page-header">
                Biggest Winner in Crypto Crash Is Most Controversial Coin
            </h1>
            <p>
                With most asset classes hurting during the coronavirus pandemic, one cryptocurrency has emerged as the biggest winner in that sector: The token known as Tether.

                While crypto bellwether Bitcoin’s market capitalization has shrunk 37% since mid-February, Tether’s increased by 38%, or nearly $2 billion, according to researcher Messari.
                
                For years, Tether’s most well-known version has been promoted as being pegged to the U.S. dollar and as a conduit for doing transactions with little price volatility. That cash-like equivalency of the so-called stablecoin has become even more apparent to crypto investors when the value of most other digital coins tumbled.
                
                “The world has been piling into dollars, and it just so happens that stablecoins are among some of the most unencumbered dollars you can obtain, outside of the financial system,” said Nic Carter, co-founder of crypto market tracker Coin Metrics.
            </p>
            <figure>
                <img src="https://static.coindesk.com/wp-content/uploads/2018/06/USDT.jpg" alt="">
                 
            </figure>
            <p>
                Most of the time, each Tether is roughly equivalent to $1, though the manner of issuance isn’t transparent. The private company incorporated in Hong Kong behind Tether has said that it creates tokens based on customer demand.

                Over the past year or so, the company has also started issuing Tethers on a variety of digital ledgers, making it harder for researchers and authorities to track them.
                
                “Anecdotally, some non-U.S. traders have told me that they actually prefer the more lightly surveilled Tether because they feel that it’s less likely that their coins get arbitrarily frozen for violating the terms of service,” Carter said.
                Following international and government mandates, many crypto companies updated their terms of service to require users to verify identities. Tether says its users also have to adhere to know-your-customer requirements.

                “We can’t predict if the trajectory will remain the same, but the current interest gives us confidence in further steady growth of Tether’s monetary base,” Paolo Ardoino, an executive at Tether-affiliated crypto exchange Bitfinex, said in an email.

                Tether and related companies, including Bitfinex, have long lived in the legal cross-hairs. Last year, New York Attorney General Letitia James went after Tether-related companies, claiming they hid a loss of about $800 million of comingled client and corporate funds. Bitfinex has appealed an August ruling ordering the company to face the claim. The companies argued the case in front of an appeals court in Manhattan in early March and are awaiting a ruling from that is likely to come within months.
            </p>
        </main>
        <%-  include('../fragments/footer')  %>
    </body>
</html>