<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/news.css">
        <link type= "text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <title>Criptofy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" id="favicon">
    </head>
    <body>
        <%-  include('../fragments/header')  %>
        <main>
            <h1 id="page-header">
                The World Just Hit 1 Million Coronavirus Infections
            </h1>
            <p>
                    The new coronavirus has now infected more than 1 million people across 
                the world, a milestone reached just four months after it first surfaced 
                in the Chinese city of Wuhan. More than 53,000 have died and 211,000 
                recovered in what has become the biggest global public health crisis of our time.
                When the virus was first discovered, doctors likened it to Severe Acute Respiratory Syndrome,
                or SARS, the illness that sickened 8,000 people mostly in Asia in 2003. 
                Highly contagious, and appearing with little or no symptoms in some cases, 
                Covid-19 has rapidly eclipsed all recent outbreaks in scale and size. 
                Fewer than 20 countries in the world appear to be free of infection.
                With some virus carriers presenting few outward signs of illness, 
                and many countries unable or unwilling to conduct wider testing, 
                the true number of global infections is likely higher -- some say far higher 
                -- than 1 million.
            </p>
            <figure>
                <img src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/89/covid-1-1140x684.png" alt="">
                <figcaption>Pedestrians walk along a nearly empty street in New York on April 1.
                 Photographer: Jeenah Moon/Bloomberg</figcaption>
            </figure>
            <p>
                    The U.S. now has the most cases officially recorded globally with more
                than 245,000, according to Johns Hopkins University, which draws on a 
                combination of data sources -- from governments to the World Health Organization
                and local media -- to feed its tallies. Next is Italy, with just over 115,000, 
                the JHU data show. Italy has the highest death toll with almost 14,000 virus 
                fatalities, followed by Spain.
            </p>
        </main>
        <%-  include('../fragments/footer')  %>
    </body>
</html>