<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/news.css">
        <link type= "text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <title>Criptofy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" id="favicon">
    </head>
    <body>
        <%-  include('../fragments/header')  %>   
        <main>
            <h1 id="page-header">
                Bitcoin Pushes Through Key Level That Spurred January Rally
            </h1>
            <p>
                    TBitcoin is struggling to hold onto gains following a prolonged bout of selling, but at least one measure shows that a rally could be ahead.

                    Based on the DVAN Buying and Selling Pressure Gauge, Bitcoin jumped above a crucial level of resistance, triggering a positive divergence and a buy signal. A similar trend played out in January ahead of Bitcoin’s surge past $10,000.
                    
                    “The potential for downward moves remains in these next two weeks, depending on what new health and economic data shows. But the long-term case for crypto has been made stronger by the impacts of this pandemic,” said Richard Rosenblum, co-head of trading at crypto market-maker GSR. “As the dust settles, people will begin to look for a store of value.”
                    
                    DVAN buying/selling gauge shows Bitcoin could trigger buy signal
                    Bitcoin rose as much as 4.4% to $7,048 in New York on Friday, while the Bloomberg Galaxy Crypto Index, which tracks some of the largest digital views, gained as much as 4%.
                    
            </p>
            <figure>
                <img src="https://views.bwbx.io/images/users/iqjWHBFdfxIU/ixE7mlaMqKZc/v0/840x600.jpg" alt="">
            </figure>
            <p>
                    The U.S. now has the most cases officially recorded globally with more
                than 245,000, according to Johns Hopkins University, which draws on a 
                combination of data sources -- from governments to the World Health Organization
                and local media -- to feed its tallies. Next is Italy, with just over 115,000, 
                the JHU data show. Italy has the highest death toll with almost 14,000 virus 
                fatalities, followed by Spain.
            </p>
        </main>
        <%-  include('../fragments/footer')  %>
    </body>
</html>