<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
        <link rel="stylesheet" href="/css/news-list.css">
        <link type= "text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <title>Criptofy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" id="favicon">
    </head>
    <body>
        <%-  include('../fragments/header')  %>
        <main>
            <ul>
                <li>
                    <a href="news1.ejs">
                        <h1>
                            The World Just Hit 1 Million Coronavirus Infections
                        </h1>
                        <p>
                            The new coronavirus has now infected 1 million people 
                            across the world, a milestone reached just four months 
                            after it first surfaced in the Chinese city of Wuhan. 
                            More than 51,000 have died and 208,000 recovered in what 
                            has become the biggest global public health crisis of our time...
                        </p>
                    </a>
                </li>
                <li>
                    <a href="news2.ejs">
                        <h1>
                            Bitcoin Cryptocurrencies Bitcoin Pushes Through 
                            Key Level That<br>Spurred January Rally
                        </h1>
                        <p>
                            Bitcoin is struggling to hold onto gains following a prolonged 
                            bout of selling, but at least one measure shows that a rally could 
                            be ahead.
                            Based on the DVAN Buying and Selling Pressure Gauge, Bitcoin jumped 
                            above a crucial level of resistance, triggering a positive divergence 
                            and a buy signal. A similar trend played out in January ahead of Bitcoin’s 
                            surge past $10,000...
                        </p>
                    </a>
                </li>
                <li>
                    <a href="news3.ejs">
                        <h1>
                            Biggest Winner in Crypto Crash Is Most Controversial Coin
                        </h1>
                        <p>
                            With most asset classes hurting during the coronavirus pandemic, 
                            one cryptocurrency has emerged as the biggest winner in that sector: 
                            The token known as Tether.
                            While crypto bellwether Bitcoin’s market capitalization has shrunk 
                            37% since mid-February, Tether’s increased by 38%, or nearly $2 billion,
                            according to researcher Messari...
                        </p>
                    </a>
                </li>
            </ul>
        </main>
        <%- include('../fragments/footer')%>
        <script src = "/scripts/localStorage.js"></script>
    </body>
</html>