<!DOCTYPE html>
<html lang = "ro">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">
        <link type= "text/css" rel="stylesheet" href="/css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link type ="text/css" rel="stylesheet" href="/css/fontawesome.min.css">
        <link type = "text/css" rel="stylesheet" href="/css/all.min.css">
        <title>Criptofy</title>
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" id="favicon">
    </head>
    <body>
        <a name="top"></a>
        <%-  include('../fragments/header')  %>
        <main>
            <div id = 'form'>
                <form method="post" action="/signin" id="form">
                    <label>
                        Username: <input type="text" name="username" value="">
                    </label>
                    <br>
                    <br>
                    <label>
                        Parola: <input type="password" name="password" value="">
                    </label>
                    <input type="submit" value="OK">
                </form>
            </div>
        </main>
        <%- include('../fragments/footer') %>
    </body>
</html>