<footer>
    <ul>
        <li><img src="/images/title.png" id ="footer-title" alt=""></li>
        <li>@ 2020 Criptofy</li>
    </ul>
    <ul>
        <li>
            <a href="">Politică de confidențialitate</a>
        </li>
        <li>
            <a href="">Termene și condiții</a>
        </li>
        <li>
            <a href="">Politică cookies</a>
        </li>
    </ul>
    <ul>
        <li>
            Descarcă:
        </li>
        <li>
            <button type="button" id="playstore-button" onclick="location.href='https://play.google.com/store';">
                <img src="/images/playstore.png" alt="Deschide PlayStore">
            </button>
        </li>
        <li>
            <button type="button" id="appstore-button" onclick="location.href='https://www.apple.com/ro/ios/app-store/';">
                <img src="/images/appstore.png" alt="Deschide AppStore" >
            </button>
        </li>
    </ul>
</footer>